[submodule "ext/QsLog"]
	path = ext/QsLog
	url = https://github.com/victronenergy/QsLog.git
	branch = master
[submodule "ext/veutil"]
	path = ext/veutil
	url = git@github.com:victronenergy/veutil.git
